* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  --grayl: #666666; /*  Gray Light */
  --grayd: #444444; /*  Gray Dark */
  --dark: #333333; /* Dark Black */
  --darker: #222222; /* Darker Black */
  --bright: #eeeeee; /* Bright White */
}

.index-background {
  background-image: url("../img/photos/background_index.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
/* Top Navigation Bar */
header {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bright);
}
ol {
  display: flex;
}
li {
  padding: 30px 40px;
  color: var(--dark);
  background-color: var(--bright);
  transition: text-decoration 300ms;
  text-decoration: underline transparent;
  text-underline-offset: 5pt;
}
a {
  color: var(--dark);
}

li:hover,
li a:focus {
  color: var(--dark);
  text-decoration: underline var(--dark);
}
/* Not sure why it's not working*/
li a.active {
  text-decoration: underline var(--dark);
}

/* Text Design */

h1 {
  font-weight: 200;
  font-size: 450%;
  color: var(--bright);
}
h2 {
  font-weight: 200;
  font-size: 110%;
  letter-spacing: 0.9pt;
  color: var(--bright);
  text-shadow: 1px 1px 10px black;
}
h3 {
  font-weight: 300;
  font-size: 180%;
  color: var(--bright);
}
h4 {
  font-size: 180%;
  font-weight: 300;
  color: var(--bright);
}
h5 {
  font-weight: 300;
  margin-top: 180%;
}
h6 {
  font-weight: 300;
  font-size: 100%;
  margin-bottom: 2vw;
}

/* Intro Container */

.intro-containers {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.intro-container {
  width: 100%;
  height: 45vw;
  position: relative;
  object-fit: cover;
}
.intro-img {
  width: 100%;
  height: 45vw;
  object-fit: cover;
}
.intro-text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--bright);
  padding: 3vw 6vw;
}
.intro-arrow {
  text-align: center;
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2vw 3vw;
}
.intro-img-arrow {
  width: 30px;
  animation: shake ease 2.5s infinite;
  animation-delay: 0.5s;
}
.intro-arrow-two {
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2vw 3vw;
}
@keyframes shake {
  0% {
    transform: translate(0%, -80%);
    opacity: 0;
  }
  10% {
    transform: translate(0%, -70%);
    opacity: 0.5;
  }
  30% {
    transform: translate(0%, -50%);
    opacity: 0.8;
  }
  100% {
    transform: translate(0%, 150%);
    opacity: 1;
  }
}

/* Index Menu Containers */

.containers {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.container {
  background-color: black;
  width: 100%;
  height: 700px;
  position: relative;
  object-fit: cover;
}
.container .image {
  opacity: 0.5;
}
.container .text {
  opacity: 1;
}
.container:hover .image {
  transition: ease 300ms;
  opacity: 1;
}
.container:hover .text {
  visibility: visible;
  opacity: 1;
  transition: ease 300ms;
  text-shadow: 1px 1px 7px #000000;
}
.image {
  object-fit: cover;
  width: 100%;
  height: 700px;
}
.text {
  opacity: 0.5;
  color: var(--bright);
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Contact Form */

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--darker);
  padding: 80px 0 30px 0;
}
.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0;
}
input,
textarea {
  width: 30vw;
  margin-top: 15px;
  border: 3px solid transparent;
  padding: 10px;
  color: var(--dark);
  outline: none;
  background-color: #c7c7c7;
}
input:hover,
textarea:hover {
  background-color: #ffffff;
  transition: ease 500ms;
}
input::placeholder,
textarea::placeholder {
  color: #525252 !important;
}
input:focus,
textarea:focus {
  border: 3px solid #aaaaaa !important;
  background-color: #ffffff;
}
textarea {
  resize: vertical;
  height: 100px;
  min-height: 100px;
  max-height: 200px;
}

/* Footer */

footer {
  background-color: var(--darker);
  width: 100%;
  padding: 30px 0 80px 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.social-info-container {
  display: flex;
  flex-direction: column;
}
.social-ico-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}
.social-ico {
  width: 35px;
}

/* Scroll to Top Button */

#BackTopBttn {
  display: none;
  position: fixed;
  bottom: 30%;
  right: 5%;
  cursor: pointer;
  color: white;
  border: none;
  background-color: #444444;
  padding: 15px 15px 8px 15px;
  z-index: 10;
}
#BackTopBttn:hover {
  background-color: rgb(107, 107, 107);
}
/* Scroll top top JS Code copied from https://www.w3schools.com/ */

/* Portfolio Containers */

.portfolio-containers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: none;
  margin-top: 50px;
  margin-bottom: 50px;
}
.portfolio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  object-fit: cover;
  margin: 30px 30px;
}
.portfolio-image {
  width: 400px;
  height: 400px;
}
.portfolio-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  transition: ease 300ms;
}
.portfolio-container:hover .portfolio-logo {
  height: 55%;
  transition: ease 300ms;
}

/* Portfolio Post */

.portfolio-item-containers {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.portfolio-item-container {
  width: 100%;
  height: 38vw;
  position: relative;
  object-fit: cover;
}
.portfolio-item-img {
  width: 100%;
  height: 38vw;
  object-fit: cover;
}
.xxl-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 5vw;
  gap: 10%;
}
.xxl-container.row {
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.xxl-img {
  width: 10%;
}
.xxl-divider {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.1vw;
}
hr {
  border: none;
  border-top: 0.1px solid #333;
  color: #333;
  overflow: visible;
  text-align: center;
  width: 40%;
}
.color-shade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.color-shade {
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  display: inline-block;
}
.raw {
  background-color: #005757;
}
.mocha {
  background-color: #8a5956;
}
.latte {
  background-color: #d99e80;
}
.irish {
  background-color: #f6c65d;
}
.cs-title {
  margin-top: 3vw;
  font-size: 1.5vw;
  font-family: "pain-de-mie", sans-serif;
}
.cs-number {
  font-size: 1.5vw;
  font-family: "pain-de-mie", sans-serif;
}
.cs-raw {
  color: #005757;
}
.cs-mocha {
  color: #8a5956;
}
.cs-latte {
  color: #d99e80;
}
.cs-irish {
  color: #f6c65d;
}
.font-paindm {
  font-family: "pain-de-mie", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.font-masq {
  font-family: "masqualero", sans-serif;
  font-size: 1.7vw;
  text-align: center;
}
.font-masq-text {
  font-family: "masqualero", sans-serif;
  font-size: 1.2vw;
  line-height: 1.8vw;
  text-align: center;
}

/* Responsive size for Phone */

@media only screen and (max-width: 1000px) {
  .index-background {
    background-image: url("../img/photos/background_index2.jpg");
  }
  /* Index Intro Containers */
  .intro-text {
    width: 90%;
    padding: 0;
  }
  .intro-container {
    padding: 0;
    margin: 0;
    height: 80vw;
  }
  .intro-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* Index Menu Containers */
  .containers {
    flex-wrap: wrap;
  }
  .container {
    background-color: black;
    width: 100%;
    height: 500px;
    position: relative;
    object-fit: cover;
  }
  .image {
    object-fit: cover;
    width: 100%;
    height: 500px;
  }
  /* Contact Form & Footer */
  .contact-form-container {
    width: 90%;
  }
  input,
  textarea {
    width: 90%;
  }
  .social-ico-container {
    gap: 15vw;
    padding: 50px 0 50px 0;
  }
  .social-ico {
    width: 10vw;
  }
  #BackTopBttn {
    bottom: 10%;
    right: 0;
    padding: 20px 20px 13px 20px;
  }
  /* Portfolio Containers */
  .portfolio-containers {
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .portfolio-container {
    margin: 0;
  }
  .portfolio-image {
    width: 100%;
    height: auto;
  }
}
